@page "/"
@page "/{name}"
@inject BlazorCore.Services.NotifyService _notifyService
@inject Blazored.LocalStorage.ILocalStorageService _localStorage
@using BlazorCore.Models.Users

<h1>@headerText</h1>

<div @onclick="Hello" style="height: 90vh;">
    Welcome to your new app.
    <SurveyPrompt @ref="surveyPrompt" Title="How is Blazor working for you?" />
</div>


@code {
    private SurveyPrompt surveyPrompt;
    private int counter = 1;
    private string headerText = "Hello";
    private string name = "";

    [Parameter]
    public string Name { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (string.IsNullOrWhiteSpace(Name))
        {
            var user = await _localStorage.GetItemAsync<UserModel>(BlazorCore.Enums.LocalStorageKey.User.ToString());
            if(!string.IsNullOrWhiteSpace(user?.FullName))
            {
                name = user?.FullName;
                headerText += $", {user.FullName}";
            }
        }
        else
        {
            name = Name;
            headerText += $", {Name}";
        }
    }

    private async Task Hello()
    {
        await surveyPrompt.SayHello(headerText);
        await _notifyService.Update(name, counter++);
    }
}