@page "/"
@page "/{name}"
@inject BlazorCore.Services.NotifyService NotifyService

<h1>@headerText</h1>

<div @onclick="Hello" style="height: 90vh;">
    Welcome to your new app.
    <SurveyPrompt @ref="surveyPrompt" Title="How is Blazor working for you?" />
</div>


@code {
    private SurveyPrompt surveyPrompt;
    private int counter = 1;
    private string headerText = "Hello";

    [Parameter]
    public string Name { get; set; }

    protected override void OnInitialized()
    {
        if (!string.IsNullOrWhiteSpace(Name))
        {
            headerText += $", {Name}";
        }
    }

    private async Task Hello()
    {
        await surveyPrompt.SayHello("Hello");
        await NotifyService.Update(Name, counter++);
    }
}